h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Estructura del ítem', 'main.html#page/estructura_del_item/')
                    +navTemaItem('2', 'Construcción de indicadores de desempeño y producto', 'main.html#page/contruccion/')
                    