.container
    .header-ecored
        h1 1. Estructura del ítem
    .jumbotron.bg-white
        p Corresponde al andamiaje que conforman los componentes del ítem. En el gráfico adjunto se presenta la estructura para la construcción del ítem o pregunta de la prueba de conocimiento. 
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid         

        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img2.png").img-fluid    
                        p Ítem
                        hr.bd-hr-blue
                        p Unidad básica de medida y elemento constitutivo de una prueba de conocimiento, para cumplir la función de evaluación.

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img3.png").img-fluid    
                        p Enunciado
                        hr.bd-hr-blue
                        p Parte del ítem que suministra la información necesaria y suficiente, refiere un conocimiento contextualizado a través de variables situacionales o problemáticas. Este puede incluir: 
                        ul 
                            li.mt-3 Afirmaciones. 
                            li.mt-3 Situaciones hipotéticas.
                            li.mt-3 Estudio de casos.    
                            li.mt-3 Mapas o similares.
                            li.mt-3 Gráficas.  
                            li.mt-3 Fotografías.
                            li.mt-3 Esquemas
                            li.mt-3 Figuras.
                            li.mt-3 Planos.

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img4.png").img-fluid    
                        p Contexto
                        hr.bd-hr-blue
                        p Lugar o escenario donde se desarrolla la acción, este advierte al candidato la ubicación espacio temporal. Responde ¿Dónde?. 

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img5.png").img-fluid    
                        p Constructo
                        hr.bd-hr-blue
                        p Es el conocimiento primario (Conocimiento esencial). El conocimiento esencial se define y luego se problematiza sobre el mismo. Responde al ¿Qué. 

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img6.png").img-fluid    
                        p Criterio de desempeño
                        hr.bd-hr-blue
                        p Se refiere a la aplicación del conocimiento en un contexto laboral, es un saber hacer con el conocimiento, por consiguiente, el conocimiento esencial siempre debe estar relacionado o afín con el criterio de desempeño. Este responde a la acción.

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid    
                        p Reactivo
                        hr.bd-hr-blue
                        p es un estímulo cognitivo que orienta las instrucciones a través del cual se espera que el evaluado ofrezca una respuesta, conducta o acción posterior. Determina habilidades de pensamiento. Responde al ¿Cómo?.                                    

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img8.png").img-fluid    
                        p Opciones de respuesta
                        hr.bd-hr-blue
                        p Parte concluyente del enunciado que se caracteriza por utilizar frases, datos o informaciones lógicas y verosímiles que pueden ser escogidas como respuesta.                         

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img9.png").img-fluid    
                        p Clave de Respuesta
                        hr.bd-hr-blue
                        p alternativa que satisface el reactivo. 

            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img10.png").img-fluid    
                        p Distractores
                        hr.bd-hr-blue
                        p Son las opciones que NO satisfacen completamente las exigencias del constructo, pero conservan niveles de verdad en relación con lo que se pregunta.

        .sub-line#11
            h2.mt-5 1.1 Recomendaciones generales para construcción de ítems NSCL.
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid         
            .col-12.col-md-8
                p Antes de iniciar la construcción de ítems, es importante tener en cuenta las siguientes recomendaciones generales:

        .row.justify-content-center.align-items-stretch.my-5.bg-color1.px-5.py-5
            .col-12.col-md-6
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Los ítems son unidimensionales lo que significa que deben pedir cuenta de un solo conocimiento esencial.              

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Cada uno de los ítems deben gozar de absoluta independencia. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p El nivel de dificultad de un ítem debe corresponder al nivel de cualificación y a la realidad del contexto.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Un ítem debe contener toda la información necesaria para ser resuelto. La carencia de información generalmente conduce al evaluado a intuir o suponer datos que pueden alterar la respuesta.                                                                        
            .col-12.col-md-6
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p La información suministrada en el ítem debe ser la necesaria y suficiente.      

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Evitar cualquier señal que conduzca al evaluado a la respuesta correcta aun cuando no posea el conocimiento. Estas señales pueden ser: repetición de palabras en el enunciado y en la clave de respuesta, uso de lenguaje técnico en la clave de respuesta y lenguaje no técnico en los distractores, longitud de la clave de respuesta diferente a la de los distractores, opciones de respuesta descontextualizadas y sin correspondencia sintáctica con el enunciado.       
                        
        .sub-line#12
            h2.mt-5 1.2 Construcción del ítem según metodología establecida.    

            p En cuanto al punto en mención, a continuación podrá observar los principales procesos a tener en cuenta:                      

        .row.justify-content-center.align-items-stretch
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid                 
                hr.bd-hr-blue
                p Cordial saludo. Quiero comentarle que en mi trabajo se requiere tener la habilidad para la construcción de ítems, y para iniciar el proceso necesito apropiar la metodología establecida en la cual, usted como gestora de instrumentos me orientara.  
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid
                hr.bd-hr-blue 
                p Entiendo su inquietud, inicialmente se trabajó el proceso de planeación y vamos a trabajar ahora la construcción de los ítems de evaluación. 

                p Se debe empezar con un ordenamiento de los elementos constitutivos del ítem, comprender la estructura, hilar sus partes, concatenar los conocimientos esenciales y los criterios de desempeño, para iniciar con el enunciado de acuerdo con la metodología. 

        .row.justify-content-center.align-items-stretch
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img14.png").img-fluid
                hr.bd-hr-blue 
                p ¿Para un evaluador es una de las actividades propias de nuestro trabajo?   
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img15.png").img-fluid
                hr.bd-hr-blue 
                p Es verdad por tal razón, vamos a iniciar con el paso a paso para la construcción:
                ul
                    li Lo primero es armar un plan de escritura y organizar las partes que conforman el enunciado, que corresponde a una afirmación con lenguaje objetivo.
                    li Se redacta en tercera persona singular y el verbo en presente.
                    li Lo esencial es asociar el conocimiento esencial (constructo) y el criterio de desempeño (específico y/o general), los cuales están interrelacionados.
                    li Luego se establece el contexto, y el reactivo, acorde con la categoría de pensamiento, es de vital importancia conocer el nivel de cualificación para identificar el tipo de formato a utilizar.
                    li Cabe aclarar que, el enunciado permite dotar de significado el ítem.


        .row.justify-content-center.align-items-stretch
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid
                hr.bd-hr-blue 
                p Muy interesante y ahora con qué continuamos.  
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid
                hr.bd-hr-blue
                p Continuaremos identificando las partes y los tipos de formatos que comprende un ítem, que se puede consultar en el instructivo en compromiso-Sena

        .row.justify-content-center.align-items-stretch.mb-5
            .col-12.col-md-5.borde  
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid
                hr.bd-hr-blue 
                p Se realizará la actividad de construcción de ítems en la matriz en que se hizo la planeación y en la columna 1 se inicia con el enunciado, en la 2 las opciones de respuesta, en la 3 la clave de respuesta, en la 4 la justificación, la 5 la ruta del ítem y la 6 el uso del ítem. 
            .col-12.col-md-5.borde   
                img.mb-2.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid
                hr.bd-hr-blue 
                p Ya identificada la estructura de la matriz y sus partes, en la siguiente sección, se dará a conocer el ejemplo de la construcción de un ítem.    

        .fase1-line    
            h3 Estructura del ítem.
        p La estructura de un ítem de conocimiento para su apropiación y comprensión es la siguiente:    

        img.mb-2.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid   

        h1 video

        .sub-line#13
            h2.mt-5 1.3 Recomendaciones generales para las opciones de respuesta.  
        p Es importante tener en cuenta los siguientes aspectos:        
                                           
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Tener una extensión (número de palabras) similar y en lo posible mantenerse en una sola línea. En caso de superar una línea se debe garantizar equilibrio construyendo dos largas y dos cortas.  

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Redactar en forma afirmativa. No se debe redactar en negación.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Garantizar homogeneidad de contenido, estructura gramatical y sintaxis.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Evitar distractores fácilmente descartables, por ser obvios o de otros órdenes gramaticales o sintácticos.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Evitar distractores similares o sinónimos que permitan concluir que si uno es incorrecto, también lo es el otro.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Evitar redactar con mayúscula (exceptuando nombres propios).

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Finalizar cada opción de respuesta con un punto final.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Evitar el uso de adverbios como: siempre, nunca, totalmente, absolutamente, completamente.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Evitar opciones de respuesta como: “Todas las anteriores” o “Ninguna de las anteriores” ya que ambas alternativas de respuesta presentan problemas metódicos y promueven errores sistémicos en la prueba.

        .sub-line#14
            h2.mt-5 1.4 Justificación 
        p La justificación son las referencias bibliográficas con la información completa de las fuentes citadas para la justificación de los ítems; cuyo propósito es identificar y ubicar la información allí contenida. 

        p Se deben registrar los referentes teóricos o empíricos que soportan la veracidad de la clave de respuesta. Estas deben cumplir con los estándares establecidos en las normas APA, en caso de no existir documentos sobre dicha actividad productiva, se realiza en forma argumentativa con dos afirmaciones y una conclusión.
         .fase1-line    
            h3 Fuente bibliográfica
        p Se establece a través de libros, decretos, guías, manuales, procedimientos técnicos, en donde el constructor puede revalidar la clave de respuesta: libro con autor, libro con editor, libros en línea, formato básico para citar imagen con autor y formato básico para citar imagen (sin autor). 

        p Ejemplo de fuentes bibliográficas.

        .header-arrow.my-5
            h3.text-center Libro impreso 
        
        img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid  
        img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid   

        .header-arrow.my-5
            h3.text-center Libro en versión electrónica
        
        img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid  
        img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid   

        .fase1-line    
            h3.mt-5 Normas APA
        p La Asociación Americana de Psicología son quienes desarrollan la norma APA, la cual describe los requerimientos o estándares para la preparación, presentación y citación de manuscritos para su publicación.  

        section.my-4

            a(href="http://biblioteca.sena.edu.co/images/PDF/InstructivoAPA.pdf " target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small <b>Anexo</b>. Acuerdo de confidencialidad para el proceso de ECCL   


        .fase1-line    
            h3.mt-5 Argumentación.
        p Para áreas emergentes del sector productivo colombiano que cuentan con estándares de competencia laboral pero escaso material documental y bibliográfico. Tal justificación debe ser realizada por el experto constructor de instrumentos y se establece desde el conocimiento funcional “empírico” producto de la experticia en el área técnica. Una Mesa Sectorial relacionada es la de artesanías.                                  

        .fase1-line    
            h3.mt-5 Estructura de la argumentación.
        p Argumento. La estructura de un argumento está orientada a aportar evidencias a favor de las aseveraciones. La estructura básica de un argumento es:
        p 1. Afirmación de lo que se presume y se quiere defender.
        p 2. Razones: justificación, motivos, razones que explican o examinan la afirmación.
        p 3. Conclusión: por tanto.

        p Ejemplo:
                              
        h1 revisar 

        table.table.table-bordered.table-striped.mt-5
                    tbody
                        tr.table1.text-center
                            <th colspan="3">Justificación por argumentación</td>    

                    tbody
                        tr.table1
                            th Afirmación
                            th Razones
                            th Conclusión  

                    tbody.table2
                        tr 
                            td ¿Es probable la existencia de vida inteligente en Marte?
                            td <b>Razón 1:</b> la baja temperatura es enemiga de la vida. <br> <b>Razón 2:</b> además, la vida no puede sobrevivir en atmósfera tenue. <br><b>Razón 3:</b> la nave exploradora que llegó a Marte encontró algunas señales que sugiere la existencia de vida. <br><b>Razón 4:</b> pero varias de las pruebas también fallaron. <br><b>Razón 5:</b> hay árticos en la tierra con características parecidas a la de Marte, ambientes que sostienen una vida primitiva.
                            td Por lo tanto, la vida inteligente en Marte parece factible, pero no es probable en el presente.
    

        .sub-line#15
            h2.mt-5 1.5 Ruta 
        p La ruta es una codificación que da cuenta de las relaciones existentes entre los componentes normativos, permitiendo la identificación de cada uno de los ítems e indicadores.  

        .fase1-line    
            h3.mt-5 Ruta del ítem
        p Codificación que da cuenta de la trazabilidad del ítem dentro de la matriz de conocimiento. Indica las secuencias de relaciones entre los componentes normativos del estándar de competencia.

        h1 Revisar "video"                