.container
    .header-ecored
        h1 2. Construcción de indicadores de desempeño y producto
    .jumbotron.bg-white
        p Para iniciar el tema es importante conocer los criterios generales de la observación científica y los criterios de medición de los indicadores, para entender la relevancia en el proceso de evaluación y orientar la construcción de los indicadores de desempeño y producto. 

        img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid         
        .sub-line#21
            h2.mt-5 2.1 Indicador de evaluación del desempeño
        p Describe las habilidades y destrezas que debe realizar el candidato, de acuerdo con las evidencias de desempeño exigidas por la norma de competencia laboral.

        p Para la construcción de los indicadores se debe: 
        ul
            li Redactar en tiempo presente.
            li En sentido afirmativo.
            li En tercera persona. 
            li De forma explícita, clara y precisa.

        img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid  

        .fase1-line    
            h3.mt-5 Construcción de un indicador de desempeño.
        p Para la construcción del indicador de desempeño se tomará la norma de competencia laboral NSCL 280301223 “Operar motoniveladora según manuales técnicos”.  
        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/voRNssg4hE4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     
           

        .sub-line#21
            h2.mt-5 2.2 Indicador de evaluación del producto 
        p Son atributos o características esenciales del producto de una función productiva, hacen referencia a los aspectos claves de los productos en términos de las especificaciones de forma, contenido, diseño, funcionalidad y ofrecen indicios de la calidad del desempeño realizado. 

        p Estos productos se definen como registros, formatos, reportes, planes, informes, diseño de procesos, objetos, máquinas, sistemas, entre otros, con la condición de que sean resultados vigentes (cronológica, normativa y tecnológicamente) y auténticos del evaluado.

        p Para la construcción de los indicadores se debe: 
        ul
            li Redactar en sentido afirmativo en tiempo presente.
            li En tercera persona del singular.
            li De forma explícita, clara y precisa.
        
        img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid  

        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZQiXX-Dm0W0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                  

        .row.justify-content-center.align-items-center.my-5 
            .col-12.col-lg-10.d-flex.justify-content-center
            a(href="media/documentos/indicadores.ppt", target="_blank")
                img(src="assets/images/pages/ilustraciones/indicadores-06.png", alt="").img-fluid                                